<div class="col-md-10 offset-md-1 mt-4 row justify-content-center align-self-center">
    <div class="card">
        <h4 class="card-header">Criação</h4>
        <div class="card-body">
            <app-form-produto (clienteEmitter)="getProduto($event)"></app-form-produto>
        </div>
        <div class="card-footer">
            <button id="btnCriar" class="btn btn-primary" (click)="onClickCriar()">Criar</button>
            <button id="btnVoltar" class="btn btn-secondary float-right" (click)="onClickVoltar()">Voltar</button>
        </div>
    </div>
</div>